@import "./normalize.css";
@import "./icons.css";
@import "@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

/*! base css  */

:root {
  --primary: #ffb338;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

/*! header start  */
.header {
  background: rgba(24, 24, 19, 0.7);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
}

.header i {
  font-size: 32px;
  text-decoration: none;
  cursor: pointer;
  transition: ease 0.5s all;
}

.header i:hover {
  transform: scale(1.1);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-buttons {
  display: flex;
  column-gap: 57px;
}

/*! header finish  */

/*   product details start   */

.product-details {
  padding-top: 100px;
  height: 100%;
}

.product-details-row {
  display: flex;
  column-gap: 90px;
}

.product-details-col {
  position: relative;
  margin-bottom: 100px;
}

.product-arrows {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}

.product-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-top: -60px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  transition: ease 0.5s all;
}

.circle:hover {
  background: #ffffff;
}

.circle.active {
  background: #fff;
}

.product-details-col h1 {
  font-size: 42px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.price-stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-stock .price {
  font-weight: 400;
  font-size: 32px;
}

.price-stock .stock {
  font-size: 14px;
  padding-top: 5px;
}

.chair-details p {
  font-size: 18px;
  line-height: 28px;
  padding-top: 20px;
}

.color-size-buttons {
  display: flex;
  column-gap: 165px;
  margin-top: 46px;
  cursor: pointer;
}

.color-buttons b {
  font-size: 20px;
}

.color-circle {
  display: flex;
  column-gap: 12px;
  padding-top: 5px;
}

.color-circle .circle {
  width: 20px;
  height: 20px;
}

a.circle.c1 {
  border: 1px solid #fff;
  background: #764131;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.circle.c1::after {
  content: "";
  width: 100%;
  height: 100%;
  padding: 3px;
  border-radius: 100%;
  border: 2px solid #764131;
  position: absolute;
}

a.circle.c2 {
  background: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


a.circle.c2::after {
  content: "";
  width: 100%;
  height: 100%;
  padding: 3px;
  border-radius: 100%;
  border: 2px solid #404040;
  position: absolute;
}

a.circle.c3 {
  background: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a.circle.c3::after {
  content: "";
  width: 100%;
  height: 100%;
  padding: 3px;
  border-radius: 100%;
  border: 2px solid #c4c4c4;
  position: absolute;
}



.size-button b {
  font-size: 20px;
}

.size-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 12px;
  padding-top: 5px;
}

.size-item span {
  width: 24px;
  height: 24px;
  font-size: 10px;
  color: #4f4f4f;
  background: #e8e8e8;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.5s all;
}

.size-item span:hover {
  background: var(--primary);
}

.size-1.active {
  background: var(--primary);
}

.add-to-basket {
  display: flex;
  column-gap: 24px;
  margin-top: 110px;
  cursor: pointer;
}

.add-to-basket .quantity {
  display: flex;
  align-items: center;
}

.quantity b {
  font-size: 24px;
}

.quantity span {
  border: 1px solid #949494;
  border-radius: 30px;
  padding: 11px 24px;
  margin-left: 20px;
}

.basket-btn {
  font-size: 26px;
  font-weight: 500;
  background: #ffb338;
  border-radius: 40px;
  padding: 21px 64px 21px 64px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
  transition: ease 0.5s all;
}

.basket-btn:hover {
  background-color: #e8e8e8;
}

.social-media {
  display: flex;
  margin-top: 91px;
  column-gap: 24px;
}

.social-media b {
  font-size: 20px;
}

.social-media .media-icons {
  font-size: 30px;
}

/*   product details finish   */

/*   Related Product start    */

.related-product {
  padding-bottom: 93px;
  margin: 93px 0;
}

.related-product h2 {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.related-product-list {
  display: flex;
  column-gap: 50px;
  overflow: auto;
  padding-bottom: 30px;
}

.related-product .product-list-item {
  position: relative;
  list-style: none;
  display: flex;
}

.related-product-list .product-list-bottom {
  background: linear-gradient(0deg, #181813 0%, rgba(24, 24, 19, 0) 174.29%);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: ease 0.5s all;
}

.related-product-list .product-list-bottom:hover {
  opacity: 1;
}

.related-product-list .product-list-bottom button {
  background-color: #ffb338;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/*  Related Product finish   */

/* footer start */

.footer {
  background: #181813;
  color: #f2f2f2;
}

.footer-top {
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top-left {
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-right: 2px solid #ededed;
  height: 119px;
  padding-right: 67px;
}

.footer-top-left input {
  background: #292929;
  border-radius: 20px;
  height: 40px;
  border: none;
  padding: 0 15px;
  outline: none;
  color: #f2f2f2;
  cursor: pointer;
}

.footer-top-left input::placeholder {
  color: #f9f9f9;
  font-size: 12px;
}

.footer-top-left span {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.footer-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.footer-input-wrapper i {
  font-size: 10px;
  position: absolute;
  right: 13px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

.footer-top-right > span {
  font-size: 18px;
}

.footer-social-media {
  display: flex;
  column-gap: 20px;
}

.footer-top-right a span {
  font-size: 30px;
}

.footer-bottom {
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

/* footer start */

/* Responsive */

@media (max-width: 1280px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
